# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/libexec/
/logs/
/modules
/project/target
/target
/project/project/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/.idea
/.idea_modules
/.classpath
/.project
/.settings

